[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/cpp_redis"]
	path = external/cpp_redis
	url = https://github.com/Cylix/cpp_redis
[submodule "external/tacopie"]
	path = external/tacopie
	url = https://github.com/Cylix/tacopie
